@{
    ViewBag.Title = "Home Page";
}

<main style="background-image: url(https://i.pinimg.com/originals/90/be/53/90be53cb15c554e7734df32f6cbddbb2.jpg); width: 1495.5px; height: 592px; margin-left: -100px; ">
    <div style="position: relative; margin-left: 470px; padding-top:200px;">

        <h1>Welcome to Online Art Gallery</h1>

    </div>

</main>